<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8ad7a2">  <td>15/09/10 10:06:35</td>   <td>0</td> <td title="&gt;&gt;BaseTest.setUpSuite(org.testng.ITestContext)[pri:0, instance:cloudpi.testTP.testcases.TP_REG@1057a39]">&gt;&gt;setUpSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@3276904</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>15/09/10 10:06:36</td>   <td>721</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:cloudpi.testTP.testcases.TP_REG@1057a39]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@3276904</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>15/09/10 10:06:59</td>   <td>23513</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_REG.TP_REG8_PH_requests_new_limit()[pri:0, instance:cloudpi.testTP.testcases.TP_REG@1057a39]">TP_REG8_PH_requests_new_limit</td> 
  <td>main@3276904</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>15/09/10 10:07:04</td>   <td>28684</td> <td title="&lt;&lt;BaseTest.teardownSuite()[pri:0, instance:cloudpi.testTP.testcases.TP_REG@1057a39]">&lt;&lt;teardownSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@3276904</td>   <td></td> </tr>
</table>
