<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>cloudpi.testARI.testcases.UC01_Process_Submission</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>UC01_001_004</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>UC01_001_005</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>UC01_001_002</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>UC01_001_003</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>UC01_000_001</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUpBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>cancelSubmission</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
