<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f76cb4">  <td>15/09/25 11:20:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UC01_Process_Submission.UC01_001_005()[pri:0, instance:cloudpi.testARI.testcases.UC01_Process_Submission@1efef64]">UC01_001_005</td> 
  <td>main@4455950</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>15/09/25 11:23:56</td>   <td>228483</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UC01_Process_Submission.cancelSubmission()[pri:0, instance:cloudpi.testARI.testcases.UC01_Process_Submission@1efef64]">&lt;&lt;cancelSubmission</td> 
<td>&nbsp;</td>  <td>main@4455950</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>15/09/25 11:19:48</td>   <td>-19740</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser(java.lang.String, java.lang.String)[pri:0, instance:cloudpi.testARI.testcases.UC01_Process_Submission@1efef64]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@4455950</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>15/09/25 11:19:47</td>   <td>-20531</td> <td title="&gt;&gt;BaseTest.setUpSuite(org.testng.ITestContext)[pri:0, instance:cloudpi.testARI.testcases.UC01_Process_Submission@1efef64]">&gt;&gt;setUpSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@4455950</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>15/09/25 11:24:04</td>   <td>237105</td> <td title="&lt;&lt;BaseTest.teardownSuite()[pri:0, instance:cloudpi.testARI.testcases.UC01_Process_Submission@1efef64]">&lt;&lt;teardownSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@4455950</td>   <td></td> </tr>
</table>
