<h2>Reporter output</h2><table><tr><td>Application Lauched successfully | </td></tr>
<tr><td>Begin Test: UC01.001.005</td></tr>
<tr><td>On submission with draft status</td></tr>
<tr><td>Step 1 - Chooses 'Next Renewal' of Date by clicking on radio button. </td></tr>
<tr><td>Step 1 Result - Dynamic Calendar appears.</td></tr>
<tr><td>Step 2 - Clicks on 'SAVE'</td></tr>
<tr><td>Step 2 Results - Information added to date is saved to Submission, Notice advising  'Modification Saved' is displayed</td></tr>
</table>