<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f67b76">  <td>15/09/27 19:47:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Apply_for_a_new_credit_limit.apply_for_new_credit_limit()[pri:1, instance:cloudpi.testTPI.testcases.Apply_for_a_new_credit_limit@729b1e]">apply_for_new_credit_limit</td> 
  <td>main@8991183</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>15/09/27 19:47:24</td>   <td>-23468</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:cloudpi.testTPI.testcases.Apply_for_a_new_credit_limit@729b1e]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@8991183</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>15/09/27 19:47:24</td>   <td>-23948</td> <td title="&gt;&gt;BaseTest.setUpSuite(org.testng.ITestContext)[pri:0, instance:cloudpi.testTPI.testcases.Apply_for_a_new_credit_limit@729b1e]">&gt;&gt;setUpSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@8991183</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>15/09/27 19:50:33</td>   <td>164904</td> <td title="&lt;&lt;BaseTest.teardownSuite()[pri:0, instance:cloudpi.testTPI.testcases.Apply_for_a_new_credit_limit@729b1e]">&lt;&lt;teardownSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@8991183</td>   <td></td> </tr>
</table>
