<h2>Reporter output</h2><table><tr><td>Application Lauched successfully | </td></tr>
<tr><td>Begin Test: Apply for a new credit limit - buyer is Canadian company that exists in DNB, and it has buyer rating (1)</td></tr>
<tr><td>Precondition: Canadian buyer that exists in DNB 
 Take note of the total exposure on the buyer before starting test</td></tr>
<tr><td>Step 1 - Login to front portal</td></tr>
<tr><td>Step 2 - Naviage to buyer as per data setup, click services, ensure that the PH field defaults to blank</td></tr>
</table>