<h2>Reporter output</h2><table><tr><td>Application Lauched successfully | </td></tr>
<tr><td>Beginning test case TP_ApplyForApproval_Decline</td></tr>
<tr><td>Successfully logged in</td></tr>
<tr><td>@ Apply For A Approval - Step 1</td></tr>
<tr><td>@ Apply For A Approval - Step 2</td></tr>
<tr><td>@ Apply For A Approval - Step 3</td></tr>
<tr><td>@ Apply For A Approval - Step 4</td></tr>
<tr><td>@ On Outstanding Offers page - Validating Offer</td></tr>
<tr><td>Element that passed validation: 28/08/2015</td></tr>
<tr><td>Element that failed validation: AB INBEV UK LTD
PORTER TUN HOUSE 500 CAPABILITY GREEN
LUTON, LU1 3LS
UNITED KINGDOM</td></tr>
<tr><td>Element that passed validation: USD 5,000.00</td></tr>
<tr><td>Element that passed validation: 90 days</td></tr>
<tr><td>Element that passed validation: No</td></tr>
<tr><td>Element that passed validation: Full Approval</td></tr>
<tr><td>Validating Reference Number (if contains only numeric characters)</td></tr>
<tr><td>Element that passed validation: 121313</td></tr>
<tr><td>Element that passed validation: USD 5,000.00</td></tr>
<tr><td>Element that passed validation: 90%</td></tr>
<tr><td>Element that passed validation: USD 27.68</td></tr>
<tr><td>Element that failed validation: CP ENERGY MARKETING (US) INC
505 2 ST SW 8TH FL
CALGARY, AB, T2P 1N8
CANADA</td></tr>
<tr><td>Element that passed validation: Elaine Elias</td></tr>
<tr><td>Element that passed validation: English</td></tr>
<tr><td>Element that passed validation: USD</td></tr>
<tr><td>Element that failed validation: 24/08/2015</td></tr>
<tr><td>Cancellation message is present</td></tr>
</table>