<h2>Reporter output</h2><table><tr><td>Application Lauched successfully | </td></tr>
<tr><td>Beginning test case TP_ApplyForApproval_Decline</td></tr>
<tr><td>Successfully logged in</td></tr>
</table>