<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>cloudpi.testTPI.testcases.AccountVerify</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>test_A05NavigateForgotPassword</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_A04invalidPassword</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_A01CheckPageName</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_A03invaliduser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_A02validuser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUpBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>setUpBrowser1</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterClass</td>
<td>&nbsp;</td></tr>
</table>
