<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="70aee8">  <td>15/08/28 10:29:11</td>   <td>0</td> <td title="&gt;&gt;BaseTest.setUpSuite(org.testng.ITestContext)[pri:0, instance:cloudpi.testTPI.testcases.AccountVerify@fdc015]">&gt;&gt;setUpSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1328683</td>   <td></td> </tr>
<tr bgcolor="7ae080">  <td>15/08/28 10:29:11</td>   <td>281</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountVerify.test_A01CheckPageName()[pri:1, instance:cloudpi.testTPI.testcases.AccountVerify@fdc015]">test_A01CheckPageName</td> 
  <td>main@1328683</td>   <td></td> </tr>
<tr bgcolor="7ae080">  <td>15/08/28 10:29:11</td>   <td>286</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountVerify.test_A02validuser()[pri:1, instance:cloudpi.testTPI.testcases.AccountVerify@fdc015]">test_A02validuser</td> 
  <td>main@1328683</td>   <td></td> </tr>
<tr bgcolor="7ae080">  <td>15/08/28 10:29:11</td>   <td>289</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountVerify.test_A03invaliduser()[pri:1, instance:cloudpi.testTPI.testcases.AccountVerify@fdc015]">test_A03invaliduser</td> 
  <td>main@1328683</td>   <td></td> </tr>
<tr bgcolor="7ae080">  <td>15/08/28 10:29:11</td>   <td>292</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountVerify.test_A04invalidPassword()[pri:1, instance:cloudpi.testTPI.testcases.AccountVerify@fdc015]">test_A04invalidPassword</td> 
  <td>main@1328683</td>   <td></td> </tr>
<tr bgcolor="7ae080">  <td>15/08/28 10:29:11</td>   <td>296</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountVerify.test_A05NavigateForgotPassword()[pri:1, instance:cloudpi.testTPI.testcases.AccountVerify@fdc015]">test_A05NavigateForgotPassword</td> 
  <td>main@1328683</td>   <td></td> </tr>
</table>
