<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Failed suite [Failed suite [Suite]]]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b4c3ab">  <td>15/08/28 01:43:08</td>   <td>0</td> <td title="&gt;&gt;BaseTest.setUpSuite(org.testng.ITestContext)[pri:0, instance:cloudpi.testui.testcases.TP_TestNavigation@38203]">&gt;&gt;setUpSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@7169195</td>   <td></td> </tr>
<tr bgcolor="b4c3ab">  <td>15/08/28 01:43:09</td>   <td>333</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:cloudpi.testui.testcases.TP_TestNavigation@38203]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@7169195</td>   <td></td> </tr>
<tr bgcolor="f8966d">  <td>15/08/28 01:43:22</td>   <td>13667</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_TestNavigation.TP_ApplyForApproval_Decline()[pri:0, instance:cloudpi.testui.testcases.TP_TestNavigation@38203]">TP_ApplyForApproval_Decline</td> 
  <td>main@7169195</td>   <td></td> </tr>
<tr bgcolor="b4c3ab">  <td>15/08/28 01:44:54</td>   <td>106098</td> <td title="&lt;&lt;BaseTest.teardownSuite()[pri:0, instance:cloudpi.testui.testcases.TP_TestNavigation@38203]">&lt;&lt;teardownSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@7169195</td>   <td></td> </tr>
</table>
