<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b17784">  <td>15/09/10 09:49:40</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_REG.TP_REG8_PH_requests_new_limit()[pri:0, instance:cloudpi.testTP.testcases.TP_REG@12cbfa]">TP_REG8_PH_requests_new_limit</td> 
  <td>main@29492536</td>   <td></td> </tr>
<tr bgcolor="c0669d">  <td>15/09/10 09:49:17</td>   <td>-23928</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:cloudpi.testTP.testcases.TP_REG@12cbfa]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@29492536</td>   <td></td> </tr>
<tr bgcolor="c0669d">  <td>15/09/10 09:49:16</td>   <td>-24976</td> <td title="&gt;&gt;BaseTest.setUpSuite(org.testng.ITestContext)[pri:0, instance:cloudpi.testTP.testcases.TP_REG@12cbfa]">&gt;&gt;setUpSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@29492536</td>   <td></td> </tr>
<tr bgcolor="c0669d">  <td>15/09/10 09:49:44</td>   <td>3199</td> <td title="&lt;&lt;BaseTest.teardownSuite()[pri:0, instance:cloudpi.testTP.testcases.TP_REG@12cbfa]">&lt;&lt;teardownSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@29492536</td>   <td></td> </tr>
</table>
