<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6276b3">  <td>15/09/20 21:34:23</td>   <td>0</td> <td title="&gt;&gt;BaseTest.setUpSuite(org.testng.ITestContext)[pri:0, instance:cloudpi.testARI.testcases.UC28_Manage_Workflow_CreaMod@1adae5d]">&gt;&gt;setUpSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@3768023</td>   <td></td> </tr>
<tr bgcolor="fd77e3">  <td>15/09/20 21:34:24</td>   <td>993</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UC28_Manage_Workflow_CreaMod.UC28_001_001()[pri:0, instance:cloudpi.testARI.testcases.UC28_Manage_Workflow_CreaMod@1adae5d]">UC28_001_001</td> 
  <td>main@3768023</td>   <td></td> </tr>
</table>
